body {
  font-family: "Playpen Sans Thai", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(-45deg, #adff9a, #d8fac4, #22ad1e, #07e0c7);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  padding: 20px;
}

.board {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}


.game-settings {
  margin-bottom: 20px;

}

select, button {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
}

.animated-title {
  font-size: 48px;
  color: #4a02f3;
  animation: bounce 1.5s infinite;
  text-shadow: 2px 2px #ccc;
}

/* แอนิเมชันเด้งขึ้นลง */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.card {
  background-color: #eb8dd2;
  border: 2px solid #100a0a;
  font-size: 24px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

/* ขนาดตาม grid */
.board.grid-4 .card {
  width: 80px;
  height: 80px;
  font-size: 28px;
}

.board.grid-6 .card {
  width: 65px;
  height: 65px;
  font-size: 24px;
}

.board.grid-8 .card {
  width: 55px;
  height: 55px;
  font-size: 20px;
}

.board.grid-10 .card {
  width: 45px;
  height: 45px;
  font-size: 18px;
}

.card.revealed {
  background-color: #defc02;
}

.card.matched {
  background-color: #06ef06;
  cursor: default;
}

button {
  font-family: "Playpen Sans Thai", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  font-size: 1.25rem;
  color: #090808;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #030603;
  color: white;
  background: #bd06c7;
  box-shadow: 3px 3px #3d2b2b;
  cursor: pointer;
  margin: 35px 0;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

select{
  font-family: "Playpen Sans Thai", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  font-size: 1.00rem;
  color: #090808;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 2px solid #030603;
  border-radius: 10px;
  color: white;
  background: #9700f5;
  box-shadow: 3px 3px #3d2b2b;
  cursor: pointer;
  margin: 35px 0;
}
